#titbitBody.v-box
	.box
		.header-bar
			.item.icon.back-button(c-onclick="historyBack()")
				i.icon.chevron.left
			.item(c-onclick="historyBack()")
				span 延伸内容详情
			.item
			.item.icon
				i.icon.share.alternate
	.flex-box(style="overflow:auto")
		div
			#media
			.content
				.meta.create
					.item.user-avatar
						img(c-src="getAppImageUrl(titbitVo.user.avatar)")
					.item.user-name
						span(c-bind="getUserName(titbitVo.user)")
					.item.date
						span(c-bind="formatDate(titbitVo.titbit.updateDate,'MM-dd')")

				.meta.title
					.item
						div(c-bind="titbitVo.titbit.title")
				.meta.options
					.item
						div
							span(c-bind="translate('perception',titbitVo.advertisement.perceptionCode)")
							span(c-bind="translate('commodity_class',titbitVo.advertisement.commodityClassCode)")
				div.content(c-bind="titbitVo.titbit.content")
	.box
		.bottom-bar
			.item.icon(c-class="highlight:titbitVo.collect" c-onclick="toggleCollect()")
				i.icon.heart(c-class="empty:!titbitVo.collect")
				div(c-bind="titbitVo.collectCount" )
			.item.icon(c-class="highlight:titbitVo.thumbsUp" c-onclick="toggleThumbsUp()")
				i.icon.thumbs.outline.up
				div(c-bind="titbitVo.thumbsUpCount" )
			.item.icon(c-class="highlight:titbitVo.thumbsDown" c-onclick="toggleThumbsDown()")
				i.icon.thumbs.outline.down
				div(c-bind="titbitVo.thumbsDownCount" )
			.item.right
				.ui.basic.button.blue(c-onclick="showBuy()" c-class="disabled:!titbitVo.advertisement.buyUrl") 购买引导
c-layer#titbitBuyLayer
	.v-box
		.box
			.header-bar
				.item.icon.back-button(c-onclick="hideBuy()")
					i.icon.chevron.left
				.item
					span 品趣-购买引导
		.flex-box
			div
				.ui.segment.basic
					img.ui.bordered.image(c-src="getAppImageUrl(titbitVo.advertisement.buyPictureId)" c-onclick="showAdvertise(question.advertiseUrl)")
				.ui.segment.basic.description(c-onclick="showAdvertise(titbitVo.advertisement.buyUrl)")
					p(c-bind="titbitVo.advertisement.buyDescription" )
				.ui.segment.basic.link
					c-button.blue.basic.fluid(caption="直达链接" c-onclick="goBuy(titbitVo.advertisement.buyUrl)")
					c-button.blue.fluid(caption="返回" click="historyBack")
